<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [21]:
%%sql

select *
from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

In [22]:
%%sql

select *
from customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

104990 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104985,2099639,580,1988-12-05,2016-07-02,North America,male,Mr.,Miroslav,M,Slach,...,62550,US,United States,1945-04-30,75,Placement specialist,Strength Gurus,2006 Suzuki Sea Forenza Wagon,39.59,-88.89
104986,2099656,567,1997-04-07,2043-01-10,North America,male,Mr.,Wilfredo,A,Lozada,...,35404,US,United States,1945-08-24,75,Industrial economist,Williams Bros.,2012 Mercedes-Benz E,33.17,-87.51
104987,2099697,570,2003-03-17,2043-03-02,North America,male,Mr.,Phillipp,S,Maier,...,93401,US,United States,1966-12-08,54,Mail sorter,Excella,2010 Subaru Tribeca,35.23,-120.59
104988,2099711,591,1980-08-26,2043-04-27,North America,female,Mrs.,Katerina,M,Pavlícková,...,39401,US,United States,1941-01-01,80,Light truck driver,Lawnscape Garden Maintenance,2006 Bentley Arnage,31.26,-89.19
104989,2099743,591,1985-04-01,2045-12-25,North America,female,Ms.,Luciana,N,Almonte,...,39095,US,United States,2000-02-22,21,Cabinetmaker,Frank's Nursery & Crafts,1995 Subaru Vivio,33.06,-90.02

In [24]:
%%sql

select column_name
from information_schema.columns
where table_name='customer'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

      column_name
0     customerkey
1      geoareakey
2         startdt
3           enddt
4        birthday
5             age
6        latitude
7       longitude
8   middleinitial
9         surname
10  streetaddress
11           city
12          state
13      statefull
14        zipcode
15        country
16    countryfull
17        company
18        vehicle
19     occupation
20      continent
21         gender
22          title
23      givenname

In [19]:
%%sql

select
  orderdate,
  count(DISTINCT customerkey) as total_customers
from
  sales
where orderdate between '2023-01-01' and '2023-12-31'
group by
  orderdate
order by
  orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers
0    2023-01-01               12
1    2023-01-02               49
2    2023-01-03               64
3    2023-01-04               78
4    2023-01-05               87
..          ...              ...
359  2023-12-27               73
360  2023-12-28               75
361  2023-12-29               55
362  2023-12-30               91
363  2023-12-31                9

[364 rows x 2 columns]

In [20]:
%%sql

select distinct continent
from customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0         Europe
1  North America
2      Australia

In [32]:
%%sql

select
  s.orderdate,
  count(DISTINCT s.customerkey) as total_customers,
  count(DISTINCT CASE WHEN c.continent ='Europe' THEN s.customerkey END) AS eu_customer,
  count(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customer,
  count(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS aus_customer
from
  sales s
LEFT JOIN customer c ON s.customerkey= c.customerkey
where s.orderdate between '2023-01-01' and '2023-12-31'
group by
  s.orderdate
order by
  s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers  eu_customer  na_customer  aus_customer
0    2023-01-01               12            6            5             1
1    2023-01-02               49           15           31             3
2    2023-01-03               64           17           44             3
3    2023-01-04               78           28           46             4
4    2023-01-05               87           22           57             8
..          ...              ...          ...          ...           ...
359  2023-12-27               73           26           41             6
360  2023-12-28               75           24           44             7
361  2023-12-29               55           19           32             4
362  2023-12-30               91           25           50            16
363  2023-12-31                9            1            8             0

[364 rows x 5 columns]

In [51]:
%%sql

select distinct p.categoryname,
  sum(s.netprice * s.quantity * s.exchangerate) as total_revenu, #total_revenu is already a sum we cannot filter it
  sum(distinct case when s.orderdate between '2022-01-01' and '2022-12-31' then s.netprice * s.quantity * s.exchangerate end) as total_2022,
  sum(distinct case when s.orderdate between '2023-01-01' and '2023-12-31' then s.netprice * s.quantity * s.exchangerate end) as total_2023
from product p
left join sales s on p.productkey = s.productkey
group by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  total_revenu  total_2022  total_2023
0                          Audio    5312898.10   675250.41   595126.38
1        Cameras and camcorders    18520360.66  2261139.12  1882022.93
2                    Cell phones   32624265.72  6510340.91  4741122.36
3                      Computers   90619022.05 14393357.76  9634066.78
4                 Games and Toys    1668574.13   268909.11   229569.81
5                Home Appliances   26607245.54  5808984.03  5281194.09
6  Music, Movies and Audio Books   10588311.00  2196521.36  1566176.90
7                   TV and Video   20466861.38  5077249.79  3873077.49

In [52]:
%%sql

select
  PERCENTILE_CONT(.50) within group (order by netprice) as median
from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median
0  191.95

In [59]:
%%sql

select distinct p.categoryname,
  sum(distinct case when s.orderdate between '2022-01-01' and '2022-12-31' then s.netprice * s.quantity * s.exchangerate end) as total_2022,
  sum(distinct case when s.orderdate between '2023-01-01' and '2023-12-31' then s.netprice * s.quantity * s.exchangerate end) as total_2023,
  PERCENTILE_CONT(.50) within group (order by
    (case when s.orderdate between '2022-01-01' and '2022-12-31' then s.netprice * s.quantity * s.exchangerate end)) as median_2022,
  PERCENTILE_CONT(.5) within group (order by
    (case when s.orderdate  between '2023-01-01' and '2023-12-31' then s.netprice * s.quantity * s.exchangerate end)) as median_2023
from product p
left join sales s on p.productkey = s.productkey
group by p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,total_2022,total_2023,median_2022,median_2023
0,Audio,675250.41,595126.38,257.21,266.59
1,Cameras and camcorders,2261139.12,1882022.93,651.46,672.60
2,Cell phones,6510340.91,4741122.36,418.60,375.88
3,Computers,14393357.76,9634066.78,809.70,657.18
4,Games and Toys,268909.11,229569.81,33.78,32.62
5,Home Appliances,5808984.03,5281194.09,791.00,825.25
6,"Music, Movies and Audio Books",2196521.36,1566176.90,186.58,159.63
7,TV and Video,5077249.79,3873077.49,730.46,790.79